# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.production.local` instead, which is automatically detected by `docker compose`.

TEST_VAR=test_variable
SECRET_VAR=test_secret_variable

# Database related variables
DB_USER=db_user
DB_PASSWORD="db_password"
DB_HOST=postgres-auth-dev # same as the container name
DB_PORT=5432 # same as the container port :not(mapping_port)
DB_NAME="db_name"

# Auth related variables
AUTH_SECRET=auth_secret # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_TRUST_HOST=true

## Github
GITHUB_CLIENT_ID=github_client_id
GITHUB_CLIENT_SECRET=github_client_secret

## Google
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret

# Resend
RESEND_API_KEY=resend_api_key

NEXT_PUBLIC_APP_URL="http://localhost:3004"

# for development and testing
NEXT_PUBLIC_DEFAULT_REGISTER_PASSWORD=Admin!23